* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
}

body {
  width:100%; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:center;	/*テキストの配置を左揃えにする*/
	background-image:url("../images/background1.jpg");	/*内容全体の背景*/
  background-size:  cover;
  background-color:rgba(255,255,255,0.5); /*背景画像を透過*/
  background-blend-mode:lighten;
  font-family: "Osaka";
}

div#header {
  height:100px;
  margin-top: 0px;
  color:white;
	background-image:url("../images/index_header.jpg");	/*ヘッダ部分の背景画像*/
  background-size:  cover;
}

div#header h1{
  line-height: 100px;
}

div#explanation {
  font-size: 120%;
  margin-top: 230px;
}

div#fileupload {
  margin-top: 70px;
}
